# {{ board_info.name }}

## References

- [Manufacturer link]({{ board_info.url }})

## laze Builders

For more information on laze builders, check out [this page](../build-system.md#laze-builders).

{%- for builder in board_info.builders %}
### `{{ builder.technical_name }}`

- **Tier:** {{ builder.tier }}
- **Chip:** [{{ builder.chip }}](../chips/{{ builder.chip_technical_name }}.md)
- **Chip Ariel OS Name:** `{{ builder.chip_technical_name }}`

To target this laze builder, run the following command in the root of your Ariel OS app:

```bash
laze build -b {{ builder.technical_name }}
```

#### Support Matrix

|Functionality|Support Status|
|---|:---:|
{%- for functionality in builder.functionalities %}
|{{ functionality.title }}|<span title="{{ functionality.description }}">{{ functionality.icon }}</span>{%- if functionality.comments %}{%- for comment in functionality.comments %}[^{{ comment|slugify }}]{%- endfor %}{%- endif %}|
{%- endfor %}
{%- endfor %}

<p>Legend:</p>

<dl>
  {%- for support_key in support_keys %}
  <div>
    <dt>{{ support_key.icon }}</dt><dd>{{ support_key.description }}</dd>
  </div>
  {%- endfor %}
</dl>
<style>
dt, dd {
  display: inline;
}
</style>

{% for builder in board_info.builders %}
  {% for functionality in builder.functionalities %}
    {%- for comment in functionality.comments %}
[^{{ comment|slugify }}]: {{ comment|capitalize_first }}.
    {%- endfor %}
  {%- endfor %}
{%- endfor %}
