book/src/SUMMARY.md linguist-generated=true
book/src/boards/*.md linguist-generated=true
book/src/support_matrix_tier1.html linguist-generated=true
book/src/support_matrix_tier2.html linguist-generated=true
book/src/support_matrix_tier3.html linguist-generated=true
