[profile.dev]
incremental = false
codegen-units = 1
debug = true
lto = false
opt-level = "s" # Optimize for size even in debug builds

[profile.release]
incremental = false
codegen-units = 1
debug = true # Required for defmt
lto = false
opt-level = "s"

[profile.release.package.esp-radio]
opt-level = 3

[patch.crates-io]
# ariel-os embassy forks

# includes bt-hci 0.6.0 update
cyw43 = { git = "https://github.com/ariel-os/embassy", rev = "603583d9" }

# branch = "embassy-hal-internal-v0.3.0+ariel-os"
embassy-hal-internal = { git = "https://github.com/kaspar030/embassy", rev = "0feffeb3c90748112a64c6570a39e1251311accb" }
# branch = "embassy-nrf-v0.8.0+ariel-os"
embassy-nrf = { git = "https://github.com/ariel-os/embassy", rev = "3940a79a29ae" }
# branch = "embassy-net-v0.7.1+ariel-os"
embassy-net = { git = "https://github.com/kaspar030/embassy", rev = "f88320aea64cf24026dd95ce3405ac23253b1117" }
# branch = "embassy-rp-v0.8.0+ariel-os"
embassy-rp = { git = "https://github.com/kaspar030/embassy", rev = "0314802282e112a47b4ccb303c0e7f09cf33df53" }
# branch = "embassy-stm32-v0.4.0+ariel-os"
embassy-stm32 = { git = "https://github.com/kaspar030/embassy", rev = "1b75c3d6e61a99a312e2d12f039fa6e76e9c3a9c" }
# branch = "embassy-time-v0.5.0+ariel-os"
embassy-time = { git = "https://github.com/ariel-os/embassy", rev = "32919cd38e4a5ad5fc21dfb339abd45a74bd1dc9" }

# ariel-os esp-hal fork, using branch = "esp-hal-v1.0.0+20251203+ariel-os"
# esp-alloc = { git = "https://github.com/ariel-os/esp-hal", rev = "6cb54fb2fe9b92c1be55f826ecb186239bb4cf41" }
# esp-bootloader-esp-idf = { git = "https://github.com/ariel-os/esp-hal", rev = "6cb54fb2fe9b92c1be55f826ecb186239bb4cf41" }
# esp-hal = { git = "https://github.com/ariel-os/esp-hal", rev = "6cb54fb2fe9b92c1be55f826ecb186239bb4cf41" }
# esp-metadata-generated = { git = "https://github.com/ariel-os/esp-hal", rev = "6cb54fb2fe9b92c1be55f826ecb186239bb4cf41" }
# esp-println = { git = "https://github.com/ariel-os/esp-hal", rev = "6cb54fb2fe9b92c1be55f826ecb186239bb4cf41" }
# esp-radio = { git = "https://github.com/ariel-os/esp-hal", rev = "6cb54fb2fe9b92c1be55f826ecb186239bb4cf41" }
# esp-radio-rtos-driver = { git = "https://github.com/ariel-os/esp-hal", rev = "6cb54fb2fe9b92c1be55f826ecb186239bb4cf41" }
# esp-rom-sys = { git = "https://github.com/ariel-os/esp-hal", rev = "6cb54fb2fe9b92c1be55f826ecb186239bb4cf41" }
# esp-sync = { git = "https://github.com/ariel-os/esp-hal", rev = "6cb54fb2fe9b92c1be55f826ecb186239bb4cf41" }
# xtensa-lx-rt = { git = "https://github.com/ariel-os/esp-hal", rev = "6cb54fb2fe9b92c1be55f826ecb186239bb4cf41" }


esp-alloc = { path = "../../esp-hal/esp-alloc" }
esp-bootloader-esp-idf = { path = "../../esp-hal/esp-bootloader-esp-idf" }
esp-hal = { path = "../../esp-hal/esp-hal" }
esp-metadata-generated = { path = "../../esp-hal/esp-metadata-generated" }
esp-println = { path = "../../esp-hal/esp-println" }
esp-radio = { path = "../../esp-hal/esp-radio" }
esp-radio-rtos-driver = { path = "../../esp-hal/esp-radio-rtos-driver" }
esp-rom-sys = { path = "../../esp-hal/esp-rom-sys" }
esp-sync = { path = "../../esp-hal/esp-sync" }
xtensa-lx-rt = { path = "../../esp-hal/xtensa-lx-rt" }
