[profile.dev]
incremental = false
codegen-units = 1
debug = true
lto = false
opt-level = "s" # Optimize for size even in debug builds

[profile.release]
incremental = false
codegen-units = 1
debug = true # Required for defmt
lto = false
opt-level = "s"

[profile.release.package.esp-radio]
opt-level = 3

[patch.crates-io]
# ariel-os embassy forks

# includes bt-hci 0.6.0 update
cyw43 = { git = "https://github.com/ariel-os/embassy", rev = "603583d9" }

# branch = "embassy-hal-internal-v0.3.0+ariel-os"
embassy-hal-internal = { git = "https://github.com/ariel-os/embassy", rev = "0feffeb3c90748112a64c6570a39e1251311accb" }
# branch = "embassy-nrf-v0.9.0+ariel-os+cryptocell"
embassy-nrf = { git = "https://github.com/nponsard/embassy-ariel", rev = "b05028962a13f3dca32487ddb505dd3a6c300601" }
# branch = "embassy-net-v0.7.1+ariel-os"
embassy-net = { git = "https://github.com/ariel-os/embassy", rev = "f88320aea64cf24026dd95ce3405ac23253b1117" }
# branch = "embassy-rp-v0.8.0+ariel-os"
embassy-rp = { git = "https://github.com/ariel-os/embassy", rev = "0314802282e112a47b4ccb303c0e7f09cf33df53" }
# branch = "embassy-stm32-v0.4.0+ariel-os"
embassy-stm32 = { git = "https://github.com/ariel-os/embassy", rev = "1b75c3d6e61a99a312e2d12f039fa6e76e9c3a9c" }
# branch = "embassy-time-v0.5.0+ariel-os"
embassy-time = { git = "https://github.com/ariel-os/embassy", rev = "32919cd38e4a5ad5fc21dfb339abd45a74bd1dc9" }

# ariel-os esp-hal fork, using branch = "esp-hal-v1.0.0+20251203+ariel-os"
esp-alloc = { git = "https://github.com/ariel-os/esp-hal", rev = "531c629afdd80ea464682ce7f4db8baed97967a6" }
esp-bootloader-esp-idf = { git = "https://github.com/ariel-os/esp-hal", rev = "531c629afdd80ea464682ce7f4db8baed97967a6" }
esp-hal = { git = "https://github.com/ariel-os/esp-hal", rev = "531c629afdd80ea464682ce7f4db8baed97967a6" }
esp-metadata-generated = { git = "https://github.com/ariel-os/esp-hal", rev = "531c629afdd80ea464682ce7f4db8baed97967a6" }
esp-println = { git = "https://github.com/ariel-os/esp-hal", rev = "531c629afdd80ea464682ce7f4db8baed97967a6" }
esp-radio = { git = "https://github.com/ariel-os/esp-hal", rev = "531c629afdd80ea464682ce7f4db8baed97967a6" }
esp-radio-rtos-driver = { git = "https://github.com/ariel-os/esp-hal", rev = "531c629afdd80ea464682ce7f4db8baed97967a6" }
esp-rom-sys = { git = "https://github.com/ariel-os/esp-hal", rev = "531c629afdd80ea464682ce7f4db8baed97967a6" }
esp-sync = { git = "https://github.com/ariel-os/esp-hal", rev = "531c629afdd80ea464682ce7f4db8baed97967a6" }
xtensa-lx-rt = { git = "https://github.com/ariel-os/esp-hal", rev = "531c629afdd80ea464682ce7f4db8baed97967a6" }
