[package]
name = "ariel-os-nrf"
version = "0.3.0"
edition.workspace = true
rust-version.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
ariel-os-debug = { workspace = true }
ariel-os-embassy-common = { workspace = true }
ariel-os-random = { workspace = true, optional = true }
ariel-os-rt = { workspace = true, features = ["memory-x"] }
cfg-if = { workspace = true }
cortex-m = { workspace = true, optional = true }
defmt = { workspace = true, optional = true }
embassy-embedded-hal = { workspace = true, optional = true }
embassy-executor = { workspace = true, default-features = false, features = [
  "arch-cortex-m",
] }
embassy-nrf = { workspace = true, default-features = false, features = [
  "optfield",
  "rt",
  "time",
  "time-driver-rtc1",
  "unstable-pac",
] }
embassy-sync = { workspace = true }
embedded-hal-async = { workspace = true }
embedded-io-async = { workspace = true, optional = true }
nrf-modem = { workspace = true, features = ["modem-log"], optional = true }
paste = { workspace = true }
portable-atomic = { workspace = true }
static_cell = { workspace = true }
tinyrlibc = { workspace = true, optional = true }
trouble-host = { workspace = true, optional = true }

embassy-net = { workspace = true, optional = true }
embassy-net-driver-channel = { workspace = true, optional = true }
heapless = { version = "0.8.0", optional = true }

[target.'cfg(context = "nrf51822-xxaa")'.dependencies]
embassy-nrf = { workspace = true, features = ["nrf51"] }

[target.'cfg(context = "nrf52832")'.dependencies]
# Disable NFC support for now, as we do not support it yet.
embassy-nrf = { workspace = true, features = ["nfc-pins-as-gpio", "nrf52832"] }
nrf-sdc = { workspace = true, features = ["nrf52832"], optional = true }

[target.'cfg(context = "nrf52833")'.dependencies]
# Disable NFC support for now, as we do not support it yet.
embassy-nrf = { workspace = true, features = ["nfc-pins-as-gpio", "nrf52833"] }
nrf-sdc = { workspace = true, features = ["nrf52833"], optional = true }

[target.'cfg(context = "nrf52840")'.dependencies]
# Disable NFC support for now, as we do not support it yet.
embassy-nrf = { workspace = true, features = ["nfc-pins-as-gpio", "nrf52840"] }
nrf-sdc = { workspace = true, features = ["nrf52840"], optional = true }

[target.'cfg(context = "nrf5340-app")'.dependencies]
# Disable NFC support for now, as we do not support it yet.
embassy-nrf = { workspace = true, features = [
  "nfc-pins-as-gpio",
  "nrf5340-app-s",
] }

[target.'cfg(context = "nrf5340-net")'.dependencies]
embassy-nrf = { workspace = true, features = ["nrf5340-net"] }
nrf-sdc = { workspace = true, features = ["nrf5340-net"], optional = true }

[target.'cfg(context = "nrf9151")'.dependencies]
embassy-nrf = { workspace = true, features = ["nrf9151-s"] }
nrf-modem = { workspace = true, features = ["nrf9151"], optional = true }

[target.'cfg(context = "nrf9160")'.dependencies]
embassy-nrf = { workspace = true, features = ["nrf9160-s"] }
nrf-modem = { workspace = true, features = ["nrf9160"], optional = true }

[features]
## Enables GPIO interrupt support.
external-interrupts = [
  "ariel-os-embassy-common/external-interrupts",
  "embassy-nrf/gpiote",
]

## Enables seeding the random number generator from hardware.
hwrng = ["dep:ariel-os-random"]

## Enables I2C support.
i2c = ["ariel-os-embassy-common/i2c"]

## Enables SPI support.
spi = ["ariel-os-embassy-common/spi"]

## Enables UART support.
uart = ["dep:embedded-io-async", "ariel-os-embassy-common/uart"]

## Enables storage support.
storage = ["dep:embassy-embedded-hal"]

## Enables USB support.
usb = []

## Enables BLE support.
ble = [
  "dep:nrf-sdc",
  "dep:trouble-host",
  "ariel-os-embassy-common/ble",
  "ariel-os-random/csprng",
  "hwrng",
]
ble-peripheral = ["ble", "nrf-sdc/peripheral"]
ble-central = ["ble", "nrf-sdc/central"]

## Enables modem support.
nrf91-modem = ["dep:cortex-m", "dep:nrf-modem", "dep:tinyrlibc"]

## Enables LTE-M networking support on nRF SiPs.
ltem-nrf-modem = [
  "dep:embassy-net",
  "dep:embassy-net-driver-channel",
  "dep:heapless",
  "ariel-os-embassy-common/cellular-networking",
  "nrf-modem/embassy-net",
  "nrf91-modem",
]

# ipv4 support, only affects the LTE-M networking support.
ipv4 = []
# ipv6 support, only affects the LTE-M networking support.
ipv6 = []

## Enables defmt support.
defmt = ["dep:defmt", "embassy-nrf/defmt", "nrf-modem?/defmt", "nrf-sdc?/defmt"]

## Enables the interrupt executor.
executor-interrupt = [
  "embassy-executor/executor-interrupt",
  # Allows for setting which interrupt the library will consider as the executor interrupt.
  "nrf-modem?/os-irq",
]

_test = ["embassy-nrf/nrf52840", "external-interrupts", "i2c", "spi"]

[lints]
workspace = true
