[package]
name = "ariel-os-esp"
version = "0.3.0"
edition.workspace = true
rust-version.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
allocator-api2 = { version = "0.3.0", default-features = false, features = [
  "alloc",
], optional = true }
ariel-os-debug = { workspace = true }
ariel-os-embassy-common = { workspace = true }
ariel-os-random = { workspace = true, optional = true }
ariel-os-rt = { workspace = true, features = ["alloc"] }
ariel-os-threads = { workspace = true, optional = true }
ariel-os-utils = { workspace = true }
cfg-if = { workspace = true }
critical-section = { workspace = true }
defmt = { workspace = true, optional = true }
embassy-embedded-hal = { workspace = true, optional = true }
embassy-executor = { workspace = true, default-features = false }
embassy-time = { workspace = true, optional = true }
embassy-time-driver = { workspace = true, features = [
  "tick-hz-1_000_000",
], optional = true }
embassy-time-queue-utils = { workspace = true, optional = true }
embedded-hal = { workspace = true }
embedded-hal-async = { workspace = true }
embedded-io-async = { workspace = true, optional = true }
esp-alloc = { workspace = true, default-features = false, optional = true }
esp-bootloader-esp-idf = { workspace = true }
esp-hal = { workspace = true, default-features = false, features = [
  "optfield",
  "rt",
] }

esp-radio = { workspace = true, default-features = false, features = [
  "esp-alloc",
  "unstable",
], optional = true }
esp-radio-rtos-driver = { workspace = true, default-features = false, features = [
  "ipc-implementations",
], optional = true }
esp-rom-sys = { workspace = true }
esp-sync = { workspace = true, optional = true }
fugit = { workspace = true, optional = true }
once_cell = { workspace = true }
paste = { workspace = true }
static_cell = { workspace = true }

# BLE dependencies
bt-hci = { workspace = true, optional = true }
embassy-sync = { workspace = true, optional = true }
trouble-host = { workspace = true, optional = true }

[target.'cfg(context = "esp32")'.dependencies]
esp-bootloader-esp-idf = { workspace = true, features = ["esp32"] }
esp-hal = { workspace = true, features = ["esp32"] }
esp-radio = { workspace = true, default-features = false, features = [
  "esp32",
], optional = true }
esp-sync = { workspace = true, optional = true, features = ["esp32"] }

[target.'cfg(context = "esp32c3")'.dependencies]
esp-bootloader-esp-idf = { workspace = true, features = ["esp32c3"] }
esp-hal = { workspace = true, features = ["esp32c3"] }
esp-radio = { workspace = true, default-features = false, features = [
  "esp32c3",
], optional = true }
esp-sync = { workspace = true, optional = true, features = ["esp32c3"] }

[target.'cfg(context = "esp32c6")'.dependencies]
esp-bootloader-esp-idf = { workspace = true, features = ["esp32c6"] }
esp-hal = { workspace = true, features = ["esp32c6"] }
esp-radio = { workspace = true, default-features = false, features = [
  "esp32c6",
], optional = true }
esp-sync = { workspace = true, optional = true, features = ["esp32c6"] }

[target.'cfg(context = "esp32s2")'.dependencies]
esp-bootloader-esp-idf = { workspace = true, features = ["esp32s2"] }
esp-hal = { workspace = true, features = ["esp32s2"] }
esp-radio = { workspace = true, default-features = false, features = [
  "esp32s2",
], optional = true }
esp-sync = { workspace = true, optional = true, features = ["esp32s2"] }

[target.'cfg(context = "esp32s3")'.dependencies]
esp-bootloader-esp-idf = { workspace = true, features = ["esp32s3"] }
esp-hal = { workspace = true, features = ["esp32s3"] }
esp-radio = { workspace = true, default-features = false, features = [
  "esp32s3",
], optional = true }
esp-sync = { workspace = true, optional = true, features = ["esp32s3"] }

[features]
## Enables GPIO interrupt support.
external-interrupts = ["ariel-os-embassy-common/external-interrupts"]

## Enables seeding the random number generator from hardware.
hwrng = ["dep:ariel-os-random"]

## Enables I2C support.
i2c = ["dep:fugit", "ariel-os-embassy-common/i2c", "time"]

## Enables SPI support.
spi = ["dep:embassy-embedded-hal", "dep:fugit", "ariel-os-embassy-common/spi"]

## Enables UART support.
uart = ["dep:embedded-io-async", "ariel-os-embassy-common/uart"]

## Enables threading support.
threading = ["dep:ariel-os-threads"]

## Enables timers
time = [
  "dep:embassy-time",
  "dep:embassy-time-driver",
  "dep:embassy-time-queue-utils",
  "dep:esp-sync",
]

## Enables defmt support.
defmt = [
  "dep:defmt",
  "esp-hal/defmt",
  "esp-radio-rtos-driver?/defmt",
  "esp-radio?/defmt",
  "fugit?/defmt",
]
## Enables log support.
log = ["esp-hal/log-04", "esp-radio-rtos-driver?/log-04", "esp-radio?/log-04"]

# Enables USB support.
usb = []

## Enables Bluetooth support.
ble-esp = [
  "dep:bt-hci",
  "dep:embassy-sync",
  "dep:embassy-time",
  "dep:esp-alloc",
  "dep:esp-radio-rtos-driver",
  "dep:trouble-host",
  "_esp",
  "ariel-os-embassy-common/ble",
  "ariel-os-random/csprng",
  "esp-radio/ble",
  "esp-radio/esp-alloc",
  "hwrng",
]
ble-central = ["ble-esp"]
ble-peripheral = ["ble-esp"]

## Enables Wi-Fi support.
wifi = []

## Enables built-in Wi-Fi hardware.
wifi-esp = [
  "dep:allocator-api2",
  "dep:embassy-time",
  "dep:esp-alloc",
  "dep:esp-radio",
  "dep:esp-radio-rtos-driver",
  "esp-radio/esp-alloc",
  "esp-radio/wifi",
  "wifi",
]

#! ## Executor type selection for the (autostarted) main executor
#! Exactly one of the features below must be enabled at once.
## Enables the interrupt executor.
executor-interrupt = ["embassy-executor/executor-interrupt"]

_esp = ["dep:embassy-time", "dep:esp-alloc", "dep:esp-radio"]

[lints]
workspace = true
