[package]
name = "ariel-os-hal"
version = "0.2.0"
license.workspace = true
edition.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[dependencies]
ariel-os-embassy-common = { workspace = true }

cfg-if.workspace = true
const_panic.workspace = true

embassy-embedded-hal = { workspace = true, optional = true }
embassy-sync = { workspace = true, optional = true }

embedded-hal = { workspace = true }
embedded-hal-async = { workspace = true }

[target.'cfg(context = "esp")'.dependencies]
ariel-os-esp = { path = "../ariel-os-esp" }

[target.'cfg(context = "native")'.dependencies]
ariel-os-native = { path = "../ariel-os-native" }

[target.'cfg(context = "nrf")'.dependencies]
ariel-os-nrf = { path = "../ariel-os-nrf" }

[target.'cfg(context = "rp")'.dependencies]
ariel-os-rp = { path = "../ariel-os-rp" }

[target.'cfg(context = "stm32")'.dependencies]
ariel-os-stm32 = { workspace = true }

# Required for platform-independent tooling
[target.'cfg(not(any(context = "esp", context = "nrf", context = "rp", context = "stm32")))'.dependencies]
embassy-executor = { workspace = true }
embassy-hal-internal = { workspace = true }
embassy-usb = { workspace = true }
embedded-storage-async = { workspace = true }

ariel-os-embassy-common = { workspace = true }

# For ble dummy implementation
bt-hci = { workspace = true, optional = true }
embedded-io = { workspace = true, optional = true }
trouble-host = { workspace = true, optional = true }

[features]
external-interrupts = [
  "ariel-os-embassy-common/external-interrupts",
  "ariel-os-esp/external-interrupts",
  "ariel-os-nrf/external-interrupts",
  "ariel-os-rp/external-interrupts",
  "ariel-os-stm32/external-interrupts",
]

i2c = [
  "dep:embassy-embedded-hal",
  "dep:embassy-sync",

  "ariel-os-embassy-common/i2c",
  "ariel-os-esp/i2c",
  "ariel-os-nrf/i2c",
  "ariel-os-rp/i2c",
  "ariel-os-stm32/i2c",
]

spi = [
  "ariel-os-embassy-common/spi",
  "ariel-os-esp/spi",
  "ariel-os-nrf/spi",
  "ariel-os-rp/spi",
  "ariel-os-stm32/spi",
]

uart = [
  "ariel-os-embassy-common/uart",
  "ariel-os-esp/uart",
  "ariel-os-nrf/uart",
  "ariel-os-rp/uart",
  "ariel-os-stm32/uart",
]

usb = [
  "ariel-os-esp/usb",
  "ariel-os-nrf/usb",
  "ariel-os-rp/usb",
  "ariel-os-stm32/usb",
]

ble = [
  "dep:bt-hci",
  "dep:embedded-io",
  "dep:trouble-host",
  "ariel-os-embassy-common/ble",
  "ariel-os-nrf/ble",
]
ble-cyw43 = ["ble", "ariel-os-rp/ble-cyw43"]
ble-peripheral = ["ariel-os-nrf/ble-peripheral", "ariel-os-rp/ble-peripheral"]
ble-central = ["ariel-os-nrf/ble-central", "ariel-os-rp/ble-central"]

hwrng = [
  "ariel-os-esp/hwrng",
  "ariel-os-native/hwrng",
  "ariel-os-nrf/hwrng",
  "ariel-os-rp/hwrng",
  "ariel-os-stm32/hwrng",
]

storage = [
  #"ariel-os-esp/storage",
  "ariel-os-nrf/storage",
  "ariel-os-rp/storage",
  "ariel-os-stm32/storage",
]

threading = [
  "ariel-os-esp/threading",
  #"ariel-os-nrf/threading",
  #"ariel-os-rp/threading",
  #"ariel-os-stm32/threading",
]

wifi-cyw43 = ["ariel-os-rp/wifi-cyw43"]
wifi-esp = ["ariel-os-esp/wifi-esp"]

eth-stm32 = ["ariel-os-stm32/eth-stm32"]

executor-single-thread = ["ariel-os-esp/executor-single-thread"]

executor-interrupt = [
  #"ariel-os-esp/executor-interrupt",
  "ariel-os-nrf/executor-interrupt",
  "ariel-os-rp/executor-interrupt",
  "ariel-os-stm32/executor-interrupt",
]

defmt = [
  "ariel-os-embassy-common/defmt",
  "ariel-os-esp/defmt",
  "ariel-os-nrf/defmt",
  "ariel-os-rp/defmt",
  "ariel-os-stm32/defmt",
]
log = ["ariel-os-esp/log"]
