name: Check binary size

# Execute this workflow after the "Build" workflow has completed.
on:
  workflow_run:
    workflows: ["Build"]
    types: [completed]

permissions: {}

jobs:
  build:
    # Only run this job if the Build workflow completed successfully.
    if: github.event.workflow_run.conclusion == 'success'
    permissions:
      pull-requests: write
    runs-on: ubuntu-24.04
    steps:
      - name: Install llvm-size
        run: sudo apt update && sudo apt install -y llvm

      - name: Download example binary
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          name: example
          run-id: ${{ github.event.workflow_run.id }}

      - name: Get size of example binary
        id: size
        run: echo binsize="$(llvm-size example)" | tee -a "$GITHUB_OUTPUT"

      - name: Comment size info on PR
        uses: marocchino/sticky-pull-request-comment@773744901bac0e8cbb5a0dc842800d45e9b2b405 # v2
        with:
          message: |
            <!-- binary size -->
            ${{ steps.size.outputs.binsize }}
