name: Build-cache
on:
  schedule:
    # run every morning at 1:07am
    - cron: "7 1 * * *"
concurrency:
  group: ${{ github.head_ref || github.run_id }}-build-cache
  cancel-in-progress: true
jobs:
  # build cache on each garm node
  build-cache:
    runs-on: ["${{ matrix.node }}"]

    strategy:
      matrix:
        # Add each CI nodes here
        node: ["tribe-ariel-os-ci1", "tribe-ariel-os-ci2"]
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      # clang-sys and thus bindgen is sensitive to multiple installed versions
      # around, see eg. https://github.com/rust-lang/rust-bindgen/issues/2682
      #
      # CLANG_PATH should be set to the most recent clang installed, no matter
      # what /usr/bin/clang is, for some parts of the code will go for the
      # newest standard library. It may also need to be aligned with the clang
      # version which Xtensa provides.
      CLANG_PATH: /usr/bin/clang-18
      CACHE_THING_LOCATION: /cache/cache-thing
      RUSTC_WRAPPER: sccache
      SCCACHE_DIR: /cache/sccache
      SCCACHE_CACHE_SIZE: 128G

      CARGO_NET_GIT_FETCH_WITH_CLI: true


    steps:
      - name: reset git-cache update barrier
        run: pkill -f -SIGUSR1 /usr/local/bin/git-cache-daemon | true

      - name: Check out repository code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          # we need to access all the commits to know when the file was last modified
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Get git tree hash
        id: get-tree-hash
        run: |
          git rev-parse HEAD^{tree} > .tree-hash
          echo "hash=$(cat .tree-hash)" >> $GITHUB_OUTPUT

      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        id: result-cache
        with:
          path: .tree-hash
          key: success-${{ steps.get-tree-hash.outputs.hash }}-${{ matrix.node }}-${{ github.event_name == 'schedule' && 'full' || needs.check-labels.outputs.label }}

      - name: Whether to skip next steps
        id: should-skip
        run: |
          result="result=${{ steps.result-cache.outputs.cache-hit == 'true' }}"
          echo "${result}"
          echo "${result}" >> $GITHUB_OUTPUT
      - name: Get day of week
        if: steps.should-skip.outputs.result != 'true'
        id: day
        run: echo "day=$(date +'%u')" >> $GITHUB_OUTPUT
      - name: Clean cache on Sunday
        if: steps.should-skip.outputs.result != 'true' && steps.day.outputs.day == '7'
        run: |
          export  RUST_LOG=trace
          # clean previous cache
          cache-thing clean --prefix global --fixed-key nightly

      # Allows to reuse more cache
      - name: Touch file time to commits time
        if: steps.should-skip.outputs.result != 'true'
        # https://stackoverflow.com/questions/21735435/git-clone-changes-file-modification-time
        run: |
            git ls-tree -r --name-only HEAD | while read filename; do
              unixtime=$(git log -1 --format="%at" -- "${filename}")
              touchtime=$(date -d @$unixtime +'%Y%m%d%H%M.%S')
              touch -t ${touchtime} "${filename}"
            done
      - name: Cache with post-job cleanup
        if: steps.should-skip.outputs.result != 'true'
        uses: gacts/run-and-post-run@v1
        with:
          run: |
            cache-thing pull -f build -f /home/runner/.cargo/git -f /home/runner/.cargo/registry --prefix global --fallback-key nightly || true

          post: |
            export  RUST_LOG=trace
            cache-thing clean --prefix global || true

      - id: get_toolchain
        if: steps.should-skip.outputs.result != 'true'
        run: echo "toolchain=$(scripts/rust-toolchain.sh)" >> $GITHUB_OUTPUT

      - name: "Show installed versions"
        run: |
          set -x
          set +e
          env
          llvm-config --libs
          cargo version
          laze --version
          arm-none-eabi-gcc --version
          clang --version
          rustup show
          cat ${ESPUP_EXPORT_FILE:-~/export-esp.sh}
          (. ${ESPUP_EXPORT_FILE:-~/export-esp.sh}; xtensa-esp32s3-elf-gcc --version)
          set +x
          # Check which alternative versions are installed
          IFS=":"; for p in $PATH; do ls $p/llvm-config-* $p/clang-* 2>/dev/null; done
          sha256sum /usr/lib/llvm-*/lib/clang/*/include/stdint.h
          true

      - name: "start sccache daemon"
        if: steps.should-skip.outputs.result != 'true'
        # work around https://github.com/ninja-build/ninja/issues/2052
        run: sccache --start-server || true

      - name: "Build all targets to generate cache data"
        if: steps.should-skip.outputs.result != 'true'
        run: |
          CONFIG_WIFI_NETWORK='test' CONFIG_WIFI_PASSWORD='password' laze build -DCARGO_ARGS+='--locked' --global

      - name: show sccache stats
        run: sccache --show-stats

      - name: "Save cache of nightly run"
        if: steps.should-skip.outputs.result != 'true'
        env:
          RUST_LOG: trace
        run: |
          cache-thing push -f build -f /home/runner/.cargo/git -f /home/runner/.cargo/registry --prefix global --fixed-key nightly --only-fixed-key || true
