name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  merge_group:

concurrency:
  group: ${{ github.head_ref || github.run_id }}-main
  cancel-in-progress: true

jobs:
  cargo-test:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - id: get_toolchain
        run: echo "toolchain=$(scripts/rust-toolchain.sh)" >> $GITHUB_OUTPUT

      - name: Install toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ steps.get_toolchain.outputs.toolchain }}

      - name: Install laze
        uses: taiki-e/install-action@v2
        with:
          tool: laze@0.1

      - name: Install prerequisites
        run: sudo apt-get install ninja-build gcc-arm-none-eabi

      - name: rust cache
        uses: Swatinem/rust-cache@v2

      - name: Run host-side crate tests
        run: laze build -DCARGO_ARGS+='--locked' --builders host --multiple-tasks --global --keep-going=0 test

  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      # "Obfuscate" the search query with concatenation so it does not self-trigger.
      - name: Check for leftover occurrences of the old project name
        run: set +e; grep -ri "riot"".rs" --line-number --exclude-dir=.git; test $? -eq 1

      # This word is relatively unlikely to be used in the project; if you have
      # a correct use for it (specifically referring to the GUI concept), it is
      # totally fine to remove this lint.
      - name: Check for occurrences of the word fold_er (without the underscore)
        run: set +e; grep -ri "fold""er" --line-number --exclude-dir=.git; test $? -eq 1

      # This should be replaced with a Clippy lint when one exists.
      - name: Check for leftover occurrences of the `authors` key in manifests
        run: set +e; grep -r '^authors\s*=' --line-number src examples tests; test $? -eq 1

      - name: Forbid version keys in manifests of tests and examples
        run: set +e; grep -r '^version\s*=\|^version\.workspace' --line-number examples tests; test $? -eq 1

      - id: get_toolchain
        run: echo "toolchain=$(scripts/rust-toolchain.sh)" >> $GITHUB_OUTPUT

      - name: Install toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ steps.get_toolchain.outputs.toolchain }}
          # Required for checking ariel-os-esp and ariel-os-nrf
          targets: riscv32imac-unknown-none-elf, thumbv7em-none-eabi
          components: clippy, rustfmt

      - name: rust cache
        uses: Swatinem/rust-cache@v2

      - name: Install cargo-deny
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-deny

      # Should run as soon as possible to avoid using unwanted crates
      # `--force`ing is required as the installed binary could have been
      # restored from cache.
      - name: cargo-deny
        run: cargo deny check bans licenses sources

      # Must run after the cargo-deny job as it requires the downloaded
      # cargo-deny binary.
      - name: cargo-deny advisories
        run: cargo deny check advisories
        # Prevent sudden announcement of a new advisory from failing CI
        continue-on-error: true

      # TODO: we'll eventually want to check the whole workspace with --workspace
      # TODO: we'll eventually want to check relevant feature combinations
      # TODO: we may want to use --no-deps as well
      - name: clippy
        uses: clechasseur/rs-clippy-check@v3
        with:
          args: |
            --verbose
            --locked
            --features "
                ble,
                coap,
                csprng,
                dns,
                external-interrupts,
                hwrng,
                i2c,
                mdns,
                net,
                no-boards,
                spi,
                storage,
                tcp,
                udp,
                usb,
                usb-ethernet,
                "
            -p ariel-os
            -p ariel-os-alloc
            -p ariel-os-boards
            -p ariel-os-coap
            -p ariel-os-debug
            -p ariel-os-debug-log
            -p ariel-os-embassy
            -p ariel-os-embassy-common
            -p ariel-os-hal
            -p ariel-os-identity
            -p ariel-os-macros
            -p ariel-os-power
            -p ariel-os-random
            -p ariel-os-rt
            -p ariel-os-storage
            -p ariel-os-threads
            -p ariel-os-utils
            --
            --deny warnings

      - run: echo 'RUSTFLAGS=--cfg context="esp32c6"' >> $GITHUB_ENV
      - name: clippy for ESP32
        uses: clechasseur/rs-clippy-check@v3
        with:
          args: |
            --verbose
            --locked
            --target=riscv32imac-unknown-none-elf
            --features "
                esp-hal-embassy/esp32c6,
                esp-hal/esp32c6,
                external-interrupts,
                i2c,
                spi,
                "
            -p ariel-os-esp
            --
            --deny warnings

      - run: echo 'RUSTFLAGS=--cfg context="rp" --cfg context="rp2040"' >> $GITHUB_ENV
      - name: clippy for RP
        uses: clechasseur/rs-clippy-check@v3
        with:
          args: |
            --verbose
            --locked
            --features "
                embassy-rp/rp2040,
                external-interrupts,
                i2c,
                spi,
                "
            -p ariel-os-rp
            --
            --deny warnings

      - run: echo 'RUSTFLAGS=--cfg context="nrf52840" --cfg context="nrf52"' >> $GITHUB_ENV
      - name: clippy for nRF
        uses: clechasseur/rs-clippy-check@v3
        with:
          args: |
            --verbose
            --locked
            --features "
                ble-central,
                ble-peripheral,
                embassy-nrf/nrf52840,
                external-interrupts,
                i2c,
                spi,
                "
            -p ariel-os-nrf
            --target=thumbv7em-none-eabi
            --
            --deny warnings

      - run: echo 'RUSTFLAGS=--cfg context="stm32wb55rg"' >> $GITHUB_ENV
      - name: clippy for STM32
        uses: clechasseur/rs-clippy-check@v3
        with:
          args: |
            --verbose
            --locked
            --features "
                embassy-stm32/stm32wb55rg,
                external-interrupts,
                i2c,
                spi,
                "
            -p ariel-os-stm32
            --
            --deny warnings

      - name: clippy
        uses: clechasseur/rs-clippy-check@v3
        with:
          args: |
            --locked
            -p coapcore
            --
            --deny warnings

  lint-rustdoc:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - id: get_toolchain
        run: echo "toolchain=$(scripts/rust-toolchain.sh)" >> $GITHUB_OUTPUT

      - name: Install toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ steps.get_toolchain.outputs.toolchain }}
          targets: riscv32imac-unknown-none-elf
          components: rust-src

      - name: rust cache
        uses: Swatinem/rust-cache@v2

      - name: rustdoc
        run: |
            RUSTDOCFLAGS='-D warnings' cargo doc \
                --no-deps \
                -p ariel-os \
                -p coapcore \
                --features "
                    bench,
                    ble,
                    coap,
                    core-affinity,
                    csprng,
                    defmt,
                    dns,
                    executor-thread,
                    external-interrupts,
                    hwrng,
                    i2c,
                    mdns,
                    net,
                    no-boards,
                    random,
                    ariel-os-coap/doc,
                    spi,
                    storage,
                    tcp,
                    threading,
                    udp,
                    usb,
                    usb-hid,
                    coapcore/_nightly_docs
                    "

      - name: rustdoc for ESP32
        run: |
            RUSTDOCFLAGS='-D warnings --cfg context="esp32c6"' cargo doc \
                --no-deps \
                --target=riscv32imac-unknown-none-elf \
                --features "
                    esp-hal-embassy/esp32c6,
                    esp-hal/esp32c6,
                    external-interrupts,
                    i2c,
                    spi,
                    " \
                -p ariel-os-esp

      - name: rustdoc for RP
        run: |
            RUSTDOCFLAGS='-D warnings --cfg context="rp" --cfg context="rp2040"' \
                cargo doc \
                --no-deps \
                --features "
                    embassy-rp/rp2040,
                    external-interrupts,
                    i2c,
                    spi,
                    " \
                -p ariel-os-rp

      - name: rustdoc for nRF
        run: |
            RUSTDOCFLAGS='-D warnings --cfg context="nrf52840"' cargo doc \
                --no-deps \
                --features "
                    embassy-nrf/nrf52840,
                    external-interrupts,
                    i2c,
                    spi,
                    " \
                -p ariel-os-nrf

      - name: rustdoc for STM32
        run: |
            RUSTDOCFLAGS='-D warnings --cfg context="stm32wb55rg"' cargo doc \
                --no-deps \
                --features "
                    embassy-stm32/stm32wb55rg,
                    external-interrupts,
                    i2c,
                    spi,
                    " \
                -p ariel-os-stm32

  lint-rustfmt:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: rustfmt
        run: cargo fmt --check --all

  lint-yamllint:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: yamllint
        uses: karancode/yamllint-github-action@master
        with:
          yamllint_comment: true # Insert inline PR comments
          yamllint_strict: true # Set error code on warnings

  lint-taplo:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Install taplo
        uses: taiki-e/install-action@v2
        with:
          tool: taplo-cli

      - name: Check toml formatting
        run: taplo fmt --check

  lint-ruff:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Ruff
        uses: chartboost/ruff-action@v1
        with:
          args: format --check # Only check formatting for now

  lint-spell:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: typos
        uses: crate-ci/typos@v1.34.0

      - name: Check the support matrix generation exit code
        run: |
          ./doc/gen_support_matrix_html.rs generate doc/support_matrix.yml /dev/null --tier 1
          ./doc/gen_support_matrix_html.rs generate doc/support_matrix.yml /dev/null --tier 2

      - name: Install mdbook and mdbook utils
        uses: taiki-e/install-action@v2
        with:
          tool: mdbook, mdbook-cmdrun

      - name: Check for unexpected cmdrun uses
        run: |
            cd book
            ./cmdrun-check.sh

      - name: Build the book
        run: |
          cd book
          mdbook build

      - name: Link Checker
        uses: lycheeverse/lychee-action@v2
        with:
          args: --offline --require-https --no-progress --include-fragments --include-verbatim -v '*.md' book/book
          fail: true
